{% extends 'base.html' %}
{% from 'fomantic/utils.html' import render_ui_icon %}

{% block content %}
    <h2>Icon</h2>
    <pre>{% raw %}{{ render_ui_icon('heart') }}{% endraw %}</pre>
    Output: {{ render_ui_icon('heart', 'primary') }}
    <h2>Icon with custom Fomantic Color Values</h2>
    <pre>{% raw %}{{ render_ui_icon('heart', 'teal') }}{% endraw %}</pre>
    Output: {{ render_ui_icon('heart', 'teal') }}
    <h2>Icon with custom CSS Color Values</h2>
    <pre>{% raw %}{{ render_ui_icon('heart', '#feb236') }}{% endraw %}</pre>
    Output: {{ render_ui_icon('heart', '#feb236') }}
    <pre>{% raw %}{{ render_ui_icon('heart', 'rgb(0,255,0)') }}{% endraw %}</pre>
    Output: {{ render_ui_icon('heart', 'rgb(0,255,0)') }}
    <pre>{% raw %}{{ render_ui_icon('heart', 'Cyan') }}{% endraw %}</pre>
    Output: {{ render_ui_icon('heart', 'Cyan') }}
{% endblock %}