{% extends 'base.html' %}

{% from 'fomantic/pagination.html' import render_ui_pager, render_ui_pagination %}

{% block content %}
    <h2>Messages</h2>
    {% for message in messages %}
    <div class="ui comments">
        <div class="comment">
            <div class="content">
                <div class="text">
                    Message {{ message.id }}: Hey guys, I hope this example comment is helping you read this documentation.
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <h2>Render a simple pagination component with render_ui_pager</h2>
    <pre>{% raw %}{{ render_ui_pager(pagination) }}{% endraw %}</pre>
    {{ render_ui_pager(pagination) }}
    <h2>Render a simple pagination component with render_ui_pager</h2>
    <pre>{% raw %}{{ render_ui_pager(pagination,
                    extra_classes='inverted',
                    color_active_item='teal') }}{% endraw %}</pre>
    {{ render_ui_pager(pagination, extra_classes='inverted', color_active_item='teal') }}
    <h2>Render a standard pagination component with render_ui_pagination</h2>
    <pre>{% raw %}{{ render_ui_pagination(pagination) }}{% endraw %}</pre>
    {{ render_ui_pagination(pagination) }}
    <h2>Render a standard pagination component with render_ui_pagination</h2>
    <pre>{% raw %}{{ render_ui_pagination(pagination,
                    extra_classes="inverted",
                    color_active_item="teal") }}{% endraw %}</pre>
    {{ render_ui_pagination(pagination, extra_classes="inverted", color_active_item="teal") }}
{% endblock %}