{% extends 'base.html' %}
{% from 'fomantic/table.html' import render_ui_table %}

{% block content %}
<h2>Simple Table</h2>
<pre>{% raw %}{{ render_ui_table(messages) }}{% endraw %}</pre>
{{ render_ui_table(messages) }}

<h2>Cutomized Table</h2>
<pre>{% raw %}{{ render_ui_table(messages,
                titles,
                table_classes='selectable inverted',
                header_classes='thead-dark',
                caption='Messages') }}{% endraw %}</pre>
{{ render_ui_table(messages, titles, table_classes='selectable inverted', header_classes='thead-dark', caption='Messages') }}

<h2>Responsive Table</h2>
<pre>{% raw %}{{ render_ui_table(messages,
                 responsive=True,
                 table_classes='red',
                 responsive_class='inverted') }}{% endraw %}</pre>
{{ render_ui_table(messages, responsive=True,table_classes='red', responsive_class='inverted') }}

<h2>Table with actions</h2>
<pre>{% raw %}{{ render_ui_table(messages, show_actions=True, model=Message,
                view_url=('view_message', [('message_id', ':id')]),
                edit_url=('edit_message', [('message_id', ':id')]),
                delete_url=('delete_message', [('message_id', ':id')]),
                new_url=url_for('new_message')) }}{% endraw %}</pre>
{{ render_ui_table(messages, show_actions=True, model=Message,
                view_url=('view_message', [('message_id', ':id')]),
                edit_url=('edit_message', [('message_id', ':id')]),
                delete_url=('delete_message', [('message_id', ':id')]),
                new_url=url_for('new_message')) }}

<h2>Table with custom actions</h2>
<pre>{% raw %}{{ render_ui_table(messages, show_actions=True, model=Message,
                table_classes="inverted red",
                custom_actions=[
                    (
                        'Like',
                        'heart',
                        ('like_message', [('message_id', ':id')])
                    )
                ]) }}{% endraw %}</pre>
{{ render_ui_table(messages, show_actions=True, model=Message,table_classes="inverted red",
                custom_actions=[
                    (
                        'Like',
                        'heart',
                        ('like_message', [('message_id', ':id')])
                    )
                ]) }}
{% endblock %}